.latest-launches {
  margin: 2rem var(--padding-left-right-desktop-large);
}

@media all and (max-width: 1440px) {
  .latest-launches {
    margin: 2rem var(--padding-left-right-desktop);
  }
}

@media all and (max-width: 900px) {
  .latest-launches {
    margin: 2rem;
  }
}

@media all and (max-width: 900px) {
  .latest-launches {
    margin: 2rem;
  }
}

.latest-launches h2 {
  font-size: 3rem;
  margin-bottom: 0rem;
}

.latest-launches-elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35.5rem, 1fr));
  margin: 0 -1rem;
}
