.loader-wrapper {
  > .loader.loader--loading {
    background-color: var(--text-box-bg);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.loader {
  display: none;
  height: 8rem;
  left: calc(50% - 4rem);
  pointer-events: all;
  top: calc(50% - 4rem);
  z-index: 666;

  &.loader--loading {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
}

.loader div {
  animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 0.8rem solid var(--text-box-bg);
  border-color: var(--text-box-bg) transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 6.4rem;
  margin: 0.8rem;
  position: absolute;
  width: 6.4rem;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
