.font-gradient {
  background: linear-gradient(90deg,#355070 4.69%,#b56576 61.13%,#eaac8b 110.94%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-shadow {
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color-black);
  box-shadow: 0.3rem 0.3rem var(--color-black);
}

.visually-hidden {
  border: 0 !important;
  clip: rect(0,0,0,0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
