:root {
  --info-box: #355070;
  --light-crimson: #b56576;
  --indicator-failure: #f00;
  --indicator-success: #00ff00;
  --padding-left-right-desktop-large: 15%;
  --padding-left-right-desktop: 10%;
  --text-box-bg: #b56576;
  --text-color: #fff;
  --color-white: #fff;
  --color-black: #000;
}
