.error.animate {
  animation: wiggle 0.5s ease-in-out;
}

.error__message {
  background-color: var(--info-box);
  border-radius: 0.5rem;
  color: var(--indicator-failure);
  font-size: 1.6rem;
  margin: 2rem var(--padding-left-right-desktop-large);
  overflow: hidden;
  padding: 2rem;
  text-align: center;
}

@media all and (max-width: 1440px) {
  .error__message{
    margin: 2rem var(--padding-left-right-desktop);
  }
}

@media all and (max-width: 900px) {
  .error__message {
    margin: 2rem;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-2.5deg);
  }
  50% {
    transform: rotate(2.5deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0);
  }
}
