.searchbar-container {
  background-color: var(--info-box);
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  justify-content: center;
  margin: 1% var(--padding-left-right-desktop-large) 5rem var(--padding-left-right-desktop-large);
  padding: 2rem;
}

@media all and (max-width: 1440px) {
  .searchbar-container {
    margin: 1% var(--padding-left-right-desktop) 5rem var(--padding-left-right-desktop);
  }
}

@media all and (max-width: 900px) {
  .searchbar-container {
    margin: 2rem;
  }
}

.searchbar__input-container {
  background-color: var(--color-white);
  border: solid 0.3rem var(--light-crimson);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  min-width: 30rem;
  padding: 1rem;
}

@media all and (max-width: 560px) {
  .searchbar__input-container {
    width: 100%;
  }
}

.searchbar__input {
  border: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7rem;
  outline: none;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.searchbar__cancel-button {
  background-color: transparent;
  border: 0;
  color: var(--light-crimson);
  cursor: pointer;
  margin-bottom: -0.25rem;
  padding-right: 0;
  transition: color 0.3s ease-out, background 0.3s ease-in;

  &:hover {
    color: var(--color-black);
    transition: color 0.3s ease-out, background 0.3s ease-in;
  }
}

.searchbar__cancel-button-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.searchbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media all and (max-width: 518px) {
  .searchbar {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

.searchbar__submit-button {
  background-color: var(--light-crimson);
  border: solid .3rem var(--light-crimson);
  border-radius: 0.5rem;
  color: var(--color-white);
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7rem;
  min-width: 12rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: color 0.3s ease-out, background 0.3s ease-in;

  &:hover {
    background-color: var(--color-white);
    color: var(--light-crimson);
    transition: color 0.3s ease-out, background 0.3s ease-in;
  }

  &:focus {
    outline: none;
  }
}

@media all and (max-width: 560px) {
  .searchbar__submit-button {
    width: 100%;
  }
}

@media all and (max-width: 479px) {
  .searchbar__submit-button {
    min-width: 100%;
  }
}
